section.branding {
	padding: 0 20px;
}

p.title {
	font-weight: 900;
	font-size: 36px;
	line-height: 72px;
	margin-top: 100px;
}

.cards-group {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	margin: 50px 0 100px;
}

.card {
	max-width: 350px;
	width: 100%;
	height: 250px;
	background-color: #222;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	border-radius: 25px;
}

.card.logo img {
	width: 50%;
}

.card .download-buttons {
	display: flex;
	gap: 25px;
}

.card p.quicksand {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 60px;
}

.card.font {
	height: 175px;
}

.card a {
	color: var(--SBL-Pink);
}

.card.color p:first-child {
	font-size: 40px;
	line-height: 60px;
	font-weight: 700;
}

.card.color p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

.card.color {
	height: 175px;
}