section.policies {
	padding-bottom: 50px;
}

section.policies h3 {
	padding-top: 35px;
}

p {
	padding: 10px;
}

p.num {
	font-weight: 700;
	font-size: 18px;
	padding-top: 35px;
}

p.dot {
	padding-left: 50px;
}

p.dot::before {
	content: "•";
}

p a {
	color: var(--SBL-Pink);
}