div.message-area {
	padding: 20px;
	margin: 50px auto;
	background-color: #222;
	box-shadow: #0A0A0A 0 2px 20px;
	border-radius: 12px;

	& p {
		&.timestamp {
			text-align: center;
			padding-bottom: 20px;
			margin-bottom: 35px;
			font-size: 0.8rem;
			border-bottom: solid 2px #444;
		}

		&.message-biggertext {
			font-weight: 800;
			font-size: 1.6rem;
			padding: 15px 0;
		}

		&.message-author {
			text-align: right;
			padding-right: 7px;
			font-size: 0.8rem;
			opacity: .8;
			font-style: italic;

			&::after {
				content: ' @ Starbit Light Team';
			}
		}
	}

	& img {
		display: block;
		width: 100%;
		border-radius: 7px;
		margin: 35px auto 20px;
	}

	& a {
		color: lightpink;
	}
}