header.branding-header {
	padding-top: 100px;
	padding-bottom: 25px;
	text-align: center;
	background: var(--sbl-background);
	font-size: 1.2rem;
}

header.branding-header h1 {
	padding: 0 10px;
}

div.branding-content {
	max-width: 900px;
	width: 100%;
	padding: 50px 15px;
	margin: 0 auto;
}

div.branding-content h2 {
	font-size: 2rem;
	padding-bottom: 10px;
}

div.branding-content p.description {
	padding-bottom: 20px;
}

div.branding-content div.split {
	display: flex;
	gap: 40px;
	width: 100%;
	padding: 40px 0;
}

div.branding-content div.split div.split-content {
	width: calc(50% - 7.5px);
}

div.branding-content div.outline {
	box-shadow: #00000044 0 3px 10px;
	background-color: #fff;
	border-radius: 20px;
	padding: 15px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.assets {
	padding-top: 3px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	width: 100%;
}

div.assets div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
	background-color: #eee;
	box-shadow: inset #00000033 0 2px 10px;
	border-radius: 10px;
	overflow: hidden;
	padding: 25px;
	text-align: center;
	font-size: 0.8rem;
}

div.branding-content div.split div.split-content div.assets div {
	min-height: 210px;
}

div.assets div.bg-colorful {
	background: var(--sbl-background);
}

div.assets div.bg-sbl {
	background: var(--sbl-nav);
	color: #fff;
}


div.assets div.img img {
	width: 100%;
	height: 100px;
	object-fit: contain;
}

div.assets div.color {
	width: calc(50% - 10px);
	min-height: 175px;
	position: relative;
	cursor: pointer;
	transition: padding-bottom var(--sbl-ease) var(--sbl-trans-time);
}

div.assets div.color.full-width {
	cursor: default;
	width: 100%;
	pointer-events: none;
}

div.assets div.color p:nth-child(1) {
	font-size: 2rem;
	font-weight: 900;
}

div.assets div.color p:nth-child(2) {
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: -15px;
}



div.assets div.color button.copy {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;
	background: linear-gradient(transparent, #00000055);
	height: 30px;
	color: #fff;
	opacity: 0.5;
	font-size: 0.8rem;
	font-weight: 600;
	transition: all var(--sbl-ease) var(--sbl-trans-time);
}

div.assets div.color button.copy i {
	padding-left: 5px;
}

div.assets div.color div.copied {
	position: absolute;
	bottom: 7px;
	left: 7px;
	right: 7px;
	width: unset;
	height: unset;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: none;
	color: #111;
	transform: translateY(125%);
	transition: transform var(--sbl-ease) 350ms;
}

div.assets div.color div.copied p, div.assets div.color div.copied i {
	font-size: 1.2rem;
}

div.assets div.color div.copied i {
	padding-left: 5px;
}

div.assets div.color div.copied.visible {
	transform: translateY(0);
}

@media only screen and (max-width: 600px) {
	div.branding-content div.split {
		display: flex;
		gap: 40px;
		width: 100%;
		padding: 40px 0;
		flex-direction: column;
	}

	div.branding-content div.split div.split-content {
		width: 100%;
	}
}

@media only screen and (max-width: 568px) {
	header.branding-header {
		padding-top: 150px;
	}
}

@media only screen and (max-width: 525px) {
	div.assets div.color {
		width: 100%;
		min-height: unset;
		padding-bottom: 30px;
	}
}

@media only screen and (min-width: 525px) {
	div.assets div.color:hover {
		padding-bottom: 55px;
	}

	div.assets div.color:hover button.copy {
		opacity: 1;
		height: 50px;
		font-size: 1rem;
	}
}