header.document-header {
	padding-top: 100px;
	padding-bottom: 25px;
	text-align: center;
	background: var(--sbl-background);
	font-size: 1.2rem;
}

div.document-content {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 15px;
}

div.document-content p b {
	font-size: 1.3rem;
}

div.document-content ul {
	padding-left: 25px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media only screen and (max-width: 568px) {
	header.document-header {
		padding-top: 150px;
	}
}